<template>
    <v-card v-bind:cardId="card.id" v-on:click="openCardDetails">
        <v-img
                :src="card.base64Image"
                class="white--text align-end"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        >
            <v-row>
                <v-card-title v-text="card.shortName"></v-card-title>
                <v-spacer/>
                <v-btn
                        color="primary" align="center"
                        v-bind:cardId="card.id"
                        v-if="!card.hasCurrentUser"
                        class="ma-4"
                        v-on:click="addCard"
                >
                    Добавить
                </v-btn>
                <v-alert color="success" class="ma-4" v-else>Добавлена</v-alert>
            </v-row>
        </v-img>
        <v-card-text>
            <ul>
                <li>Стоимость обслуживания в год, от: {{ card.minCostPerYear }}Р</li>
                <li>Кэшбек до {{ card.maxCashbackPercent }}%</li>
                <li>Кэшбек до {{ card.cashbackLimitInRubles }}Р в мес.</li>
            </ul>
        </v-card-text>
    </v-card>
</template>

<script>
    import {HTTP} from "@/http-common";

    export default {
        name: "CardSmall",
        data: () => ({}),
        props: {
            card: Object
        },
        methods: {
            addCard() {
                HTTP.post(`usercard/add/${this.card.id}`)
                    .then(() => {
                        this.card.hasCurrentUser = true;
                    });
            },
            openCardDetails() {
                this.$router.push(`carddetails/${this.card.id}`);
            }
        }
    }
</script>

<style scoped>

</style>